建立各个设备的虚拟串口程序，方便测试；
每个设备建立log文件，采集并存储数据，存在csv中，每100或1000个信息存储一次；
专门开一个线程处理错误，close open port，插拔USB；
主界面显示多少个线程在运行，主界面关闭所有线程关闭；
程序上有个紧急停止按钮，按钮按下，所有设备按规范停止运行；
画图线程，自动跑线程，错误线程按钮；
漏液传感器、电压过高、泵压过高等错误的优先级，错误处理优先级；
自动运行时，其他按钮disabled;